###############################
## Eclipse
###############################
.project
.classpath
.settings/
.metadata/
bin/

###############################
## Maven
###############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

###############################
## TestNG / Automation Reports
###############################
test-output/
reports/
!src/main/java/**/reports/**
output/
logs/
log/
*.log

###############################
## Screenshots (Failure Evidence)
###############################
screenshots/
screenshots/*
*.png
*.jpg

###############################
## Java Compiled Files
###############################
*.class

###############################
## IDEs (Future-proof)
###############################
.idea/
*.iml
.vscode/
pom.xsd

###############################
## OS Files
###############################
.DS_Store
Thumbs.db
ehthumbs.db

###############################
## Temporary / Backup Files
###############################
*.tmp
*.swp
*.bak

###############################
## Windows null device artifact
###############################
nul
