<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="60">

    <!-- ================= PROPERTIES ================= -->
    <Properties>
       <Property name="LOG_PATTERN">
%d{yyyy-MM-dd HH:mm:ss} | %-5level | Thread-%tid | %replace{%X{testName}}{^$}{SUITE} | %c{1} | %msg%n
</Property>

        <Property name="LOG_DIR">logs</Property>
        <Property name="LOG_FILE">${LOG_DIR}/automation.log</Property>
    </Properties>

    <!-- ================= APPENDERS ================= -->
    <Appenders>

        <!-- Console Appender -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- Rolling File Appender -->
        <RollingFile name="FileAppender"
                     fileName="${LOG_FILE}"
                     filePattern="${LOG_DIR}/automation-%d{yyyy-MM-dd}.log.gz">

            <PatternLayout pattern="${LOG_PATTERN}"/>

            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>

            <DefaultRolloverStrategy max="14"/>
        </RollingFile>

    </Appenders>

    <!-- ================= LOGGERS ================= -->
    <Loggers>

        <!-- Reduce Selenium Noise -->
        <Logger name="org.openqa.selenium" level="WARN"/>
        <Logger name="org.apache.http" level="WARN"/>
        <Logger name="io.github.bonigarcia" level="WARN"/>

        <!-- Framework Logs -->
        <Logger name="com.framework" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
        </Root>

    </Loggers>

</Configuration>
